/* Page default styles */
body {
  margin: 0;
  font-family: Helvetica, Arial, 'Times New Roman', Roboto;
  line-height: 1.6;
  background-color: #000000;
  color: #bcbec0;
}

/* Link Styles */
a {
  color: #74c476;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
  text-decoration-skip-ink: auto;
  font-weight: bold;
}

/* Content Container */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Header */
header {
  max-width: 640px;
  width: 100%;
}

header img {
  margin: 50px 0;
}

/* Text Blocks */
.text-block {
  max-width: 640px;
  width: 100%;
  margin: 10px 0;
}

/* Data Points */
.data-point {
  font-weight: bold;
  border-bottom: 2px dotted #bcbec0;
}

/* Asset Blocks */
.asset-block {
  width: 100%;
  max-width: none;
  margin: 0 auto;
}

.asset-block svg {
  display: block;
  margin: 0 auto;
}

.asset-block img {
  display: block;
  margin: 0 auto;
}

/* Control Block */
.control-block {
  max-width: 800px;
  margin: 0 auto;
  display: none;
}

#user-input-section .sliders-container {
  background-color: #414042;
}

/* Charts */
.chart-container {
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.axis line,
.axis path {
  stroke: #ffffff;
}

.axis text {
  fill: #ffffff;
  font-size: 12px;
}

.bar {
  fill: #74c476;
}

.dot {
  fill: #74c476;
}

/* Sliders */
.sliders-container {
  padding: 20px;
  border-radius: 15px;
  margin: 10px auto;
  max-width: 640px;
}

.slider-container {
  margin: 20px 0;
  text-align: left;
}

.slider-label {
  margin-bottom: 5px;
  display: block;
  color: #ffffff;
  text-align: left;
}

.slider-input {
  width: 100%;
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  outline: none;
  border-radius: 5px;
  position: relative;
}

/* Slider Thumb */
.slider-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #74c476;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  margin-top: -5px;
}

.slider-input::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #74c476;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  margin-top: -5px;
}

.slider-input::-ms-thumb {
  width: 25px;
  height: 25px;
  background: #74c476;
  cursor: pointer;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  margin-top: -5px;
}

/* Slider Track */
.slider-input::-webkit-slider-runnable-track {
  height: 10px;
  border-radius: 5px;
}

.slider-input::-moz-range-track {
  height: 10px;
  border-radius: 5px;
}

.slider-input::-ms-track {
  height: 10px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.slider-input::-ms-fill-lower {
  background-color: #74c476;
  border-radius: 5px;
}

.slider-input::-ms-fill-upper {
  border-radius: 5px;
}

/* For the fill before the thumb */
.slider-input::-moz-range-progress {
  background-color: #74c476;
  height: 10px;
  border-radius: 5px;
}

/* Equivalents */
.equivalents-container ul {
  list-style-type: none;
  padding-left: 0;
}

.equivalents-container ul li {
  margin: 10px 0;
  padding-left: 35px;
  background-position: 0 center;
  background-repeat: no-repeat;
  background-size: 25px 25px;
}

/* Guess Buttons */
.button-container {
  text-align: center;
  margin-bottom: 20px;
}

.traffic-option-button {
  background-color: #006837;
  color: #f0f0f0;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 25px;
}

.traffic-option-button:hover {
  background-color: #74c476;
}

.traffic-option-button.selected {
  background-color: #74c476;
}

/* Submit Button */
#submit-guess-button {
  display: block;
  margin: 20px auto;
  background-color: #006837;
  color: #ffffff;
  border: none;
  padding: 10px 30px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
}

#submit-guess-button:hover {
  background-color: #74c476;
}

/* Feedback Section */
#guess-feedback {
  text-align: center;
  margin: 20px 0;
  color: #f0f0f0;
  font-size: 16px;
}

/* Annotation Text */
.chart-container text {
  fill: #ffffff;
}

.year-label {
  font-size: 48px;
  fill: #ffffff;
  text-anchor: end;
}

.control-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
}

/* Control Buttons */
.control-button {
  background-color: #006837;
  color: #f0f0f0;
  border: none;
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
}

.control-button:hover {
  background-color: #74c476;
}

/* Checkboxes Container */
.checkboxes-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.country-columns-container {
  display: flex;
  justify-content: center;
}

.country-column {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin: 5px 0;
  color: #ffffff;
}

.checkbox-label input[type="checkbox"] {
  margin-right: 5px;
  accent-color: #74c476;
  border-radius: 25px;
}

/* Line Styles */
.line {
  fill: none;
}

.line-min {
  stroke: #74c476;
  stroke-width: 2;
}

.line-max {
  stroke: #31a354;
  stroke-width: 2;
}

.projection-line {
  stroke: #ffffff;
  stroke-dasharray: 4;
}

/* Axis Styles */
.axis path,
.axis line {
  stroke: #ffffff;
}

.axis text {
  fill: #ffffff;
  font-size: 12px;
}

/* Main Title */
#ict-emissions .main-title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #ffffff;
  text-align: center;
}

#ict-emissions-title {
  width: 100%;
  margin-bottom: 10px;
}

/* Chart Subtitle */
.chart-subtitle {
  font-size: 14px;
  fill: #ffffff;
  text-anchor: middle;
}

/* Legend Styles */
.legend-container {
  margin-top: 5px; /* Reduced to bring legend closer */
}

.legend {
  display: flex;
  justify-content: center;
  align-items: center;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 50px; /* Adjust spacing between legend items */
}

.legend-item text {
  font-size: 12px;
  fill: #ffffff;
}

/* Charts Container */
.charts-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* Ensure charts appear below the title */
#ict-emissions .charts-container > div {
  display: block;
}

/* SVG Container Styles */
svg {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: transparent;
}

/* Adjust margins for the asset block (Optional) */
#ict-emissions {
  margin-bottom: 20px; /* Adjust as needed */
}

/* Pie Chart Title */
.pie-chart-title {
  font-size: 16px;
  fill: #ffffff;
  text-anchor: middle;
  dominant-baseline: middle;
}

.arc text {
  font-size: 12px;
  fill: #ffffff;
  text-anchor: middle;
}

.arc tspan {
  display: block;
}

#ict-emissions-breakdown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px; /* Adjust as needed */
}

/* PUE Chart Styles */
.pue-chart-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pue-chart-container {
  margin: 0 auto;
}

.line.pue-line {
  fill: none;
  stroke: #31a354;
  stroke-width: 2px;
}

.dot {
  cursor: pointer;
}

.separator-line {
  stroke: #ffffff;
  stroke-dasharray: 4;
}

.label {
  font-size: 12px;
  fill: #ffffff;
}

/* Energy Consumption Bar Chart Styles */
.energy-chart-container {
  margin: 0 auto;
}

.bar {
  fill: #74c476;
}

.bar:hover {
  fill: #5aab63;
}

/* Axis Styles */
.axis path,
.axis line {
  stroke: #ffffff;
}

.axis text {
  fill: #ffffff;
  font-size: 12px;
}

/* Adjust cursor for draggable elements */
.dot.active {
  cursor: grabbing;
}

.dot:hover {
  stroke: #ffffff;
  stroke-width: 2px;
}

/* Reset Button Styles */
.reset-button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #31a354;
  border-radius: 25px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.reset-button:hover {
  background-color: #2a923f;
}

/* Chart Title */
.chart-title {
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
  color: #ffffff;
}

/* Chart Caption */
.chart-caption {
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

/* Tooltip Styles */
.tooltip {
  position: absolute;
  text-align: left;
  width: 250px;
  padding: 10px;
  font-size: 12px;
  background: #ffffff;
  color: #000000;
  border: 1px solid #cccccc;
  border-radius: 4px;
  pointer-events: none;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s;
}

/* Legend Styles */
.legend-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.legend-color-box {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 1px solid #ffffff;
}

.legend-label {
  font-size: 14px;
  color: #ffffff;
}

/* Company Name Text */
.company-name {
  font-size: 12px;
  fill: #ffffff;
  text-anchor: middle;
  pointer-events: none;
}

/* Industry Label */
.industry-label {
  font-size: 16px;
  fill: #ffffff;
  text-anchor: middle;
  pointer-events: none;
}

/* Sector Label */
.sector-label {
  font-size: 20px;
  fill: #ffffff;
  font-weight: bold;
  text-anchor: middle;
  pointer-events: none;
}

/* Control Container */
.control-container {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #ffffff;
}

.control-container label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.search-input {
  width: 100%;
  border-radius: 25px;
  padding: 8px;
  color: #000000;
  border: none;
}

.slider-container {
  width: 100%;
  margin-bottom: 20px;
}

.slider-container input[type="range"] {
  width: 100%;
  -webkit-appearance: none;
  background: transparent;
}

.slider-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #31a354;
  cursor: pointer;
}

.slider-container input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  background: #78c679;
}

.slider-container input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #31a354;
  cursor: pointer;
}

.slider-container input[type="range"]::-moz-range-track {
  height: 5px;
  background: #78c679;
}

.slider-values {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  color: #ffffff;
}

.checkbox-group,
.radio-group,
.checkbox-dropdown {
  margin-bottom: 20px;
}

.options-container {
  display: flex;
  flex-wrap: wrap;
}

.options-container label {
  display: flex;
  align-items: center;
  margin-right: 15px;
  margin-bottom: 5px;
  font-weight: normal;
}

.options-container input {
  margin-right: 5px;
}

.checkbox-dropdown details {
  background-color: #ffffff;
  color: #000000;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  border-radius: 25px;
}

.checkbox-dropdown summary {
  font-weight: bold;
  outline: none;
  list-style: none;
}

.checkbox-dropdown summary::-webkit-details-marker {
  display: none;
}

.checkbox-dropdown::after {
  position: absolute;
  right: 10px;
  top: 14px;
}

.checkbox-list {
  margin-top: 10px;
  max-height: 200px;
  overflow-y: auto;
}

.checkbox-list label {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-weight: normal;
}

.checkbox-list input {
  margin-right: 5px;
}

.reset-button-container {
  text-align: center;
}

.reset-button {
  margin-top: 10px;
  padding: 8px 16px;
  font-size: 14px;
  background-color: #31a354;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

.reset-button:hover {
  background-color: #2a923f;
}

.toggle-button-container {
  text-align: center;
  margin-top: 10px;
}

.toggle-controls-button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #31a354;
  color: #ffffff;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

.toggle-controls-button:hover {
  background-color: #2a923f;
}

.toggle-message {
  text-align: center;
}



/* Mobile Responsiveness */
@media (max-width: 768px) {
  .text-block,
  .asset-block {
    max-width: 100%;
  }
  .axis text {
    font-size: 10px;
  }
}